body {
  background-color: rgb(31, 43, 58);
  font-family: Arial, sans-serif;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 550px;
  height: 450px;
  margin: 20px;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  width: 400px;
  height: auto 250px;
  margin: 10px;
  border-radius: 10px;
}

.name {
  font-weight: bold;
  font-size: 32px;
  margin: 10px 0;
}

.price {
  color: green;
  font-size: 30px;
  margin: 10px 0;
  font-weight: bold;
  margin-top: 15px;
}

.cartbutton {
  height: 50px;
  width: 150px;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: 2.5px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 15px;
}
.cartbutton:hover {
  background-color: darkgreen;
}

.cart {
  background-color: white;
  width: 1000px;
  height: 300px;
  margin: 20px auto;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
}

.header {
  text-align: center;
  margin: 20px;
  color: white;
}
